
@font-face {
   font-family:AB;
   src:url(fonts/AB.otf);
}

body
{
	background-color:#002B55;
}


.collapsible-header
{
position:relative;	
height:50px;
font-size:150%;
text-align:center;
font-family:AB;
background-color:#424242;
color:#ffffff;
padding-top:10px;
}

.collapsible
{
	width:100% ;
}

.collapsible-body
{
position:relative;	
width:100%;
background-color:#ffffff;
padding-left:38%;
	
}

li
{
font-family:AB;
font-weight:bold;
}